body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.banner img {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 20px;
}

@keyframes chromeEffect {
    0%, 100% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
}

h1 {
    text-align: center;
    padding: 20px;
    color: transparent;
    background-image: linear-gradient(45deg, #d4af37, #c0c0c0, #ffd700, #e5e4e2, #d4af37);
    background-size: 400% 400%;
    -webkit-background-clip: text;
    animation: chromeEffect 10s ease infinite;
}

nav ul {
    background-color: #757575;
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin: 0;
}
nav li {
    display: inline-flex;
}
nav a {
    text-decoration: none;
    color: white;
    padding: 10px;
    width: 150px;
    display: block;
}
nav li:hover {
    background-color: black;
}

h2 {
    padding: 0 20px;
}

p {
    padding: 0 20px;
}

img {
    display: block;
    margin: 0 auto;
    border: 5px solid black;
    border-radius: 10px;
}

.levidiv {
    text-align: center;
    margin: 20px 0;
}

hr {
    border: 0;
    height: 2px;
    background-color: black;
    margin: 40px 0;
}

.chrome-frame {
    display: inline-block;
    padding: 5px;
    border-radius: 10px;
    background: linear-gradient(45deg, #8e2de2, #4a00e0, #ffea00, #ffd700, #ff0000);
    background-size: 400% 400%;
    animation: chromeEffect 10s ease infinite;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.chrome-frame img {
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.articulos p {
    text-align: left;
    padding: 20px;
    margin: 0;
}

@media (max-width: 768px) {
    .articulos p {
        font-size: 0.9em;
        padding: 1em;
    }
}

@media (max-width: 480px) {
    .articulos p {
        font-size: 0.8em;
        padding: 0.8em;
    }
}

.menu.secundario {
    margin-top: 20px;
    text-align: left;
}

.menu.secundario a {
    display: block;
    text-decoration: none;
    color: #000;
    padding: 10px;
    font-size: 16px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
    width: 100%;
    height: 100px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
